/* static/css/donorregistration.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Navbar Red Background */
.navbar-red {
    background-color: #c11d1d;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #f8f9fa;
}













/* Additional CSS specific to home.html */
.hero-section {
    background-image: url('https://cdn.britannica.com/32/191732-050-5320356D/Human-red-blood-cells.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: white;
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.signin-text {
    margin-top: 20px;
    text-align: center;
}

.signin-text a {
    color: #007bff;
    text-decoration: none;
}

.signin-text a:hover {
    text-decoration: underline;
}
